Data Source: 
My weekly price monitoring while restocking for our eatery business

In [13]:
import pandas as pd
import numpy as np
import datetime as dt
pd.set_option('display.max_columns', None)
%matplotlib inline

from IPython.display import display, HTML

display(HTML(data="""
<style>
    div.output_scroll {height:100%}
</style>
"""))

In [14]:
df = pd.read_csv("./data/Iligan Market.csv").dropna()

In [15]:
df

,Date,Rice (Princess Bea),Onion (1 Kilo),Garlic (1 Kilo),Potato (1 Kilo),Carrot (1 Kilo),Pork Chop (1 Kilo),Chicken (1 Whole),Large Egg (1 Dozen),Bangus Fish (1 Kilo),Gutob Fish(1 Kilo),White Sugar (1 Kilo)
0,3/25/2023,45.0,120.0,100.0,None,None,None,None,108.0,200.0,150.0,None
1,4/1/2023,45.0,100.0,100.0,95.00,40.00,398.00,215.00,95.0,200.0,180.0,104.45